@font-face {
  font-family: "Gowun Batang";
  src: url("GowunBatang-Regular.woff2") format("woff2"),
    url("GowunBatang-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gowun Batang";
  src: url("GowunBatang-Bold.woff2") format("woff2"),
    url("GowunBatang-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
